body {
  background-image: url("../pattern.png");
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

#test{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  margin: auto;
  height: auto;
  width: 500px;
  text-align: center;
  color: ivory;
  background-color: rgba(128, 128, 128, 0.7);
}

#me{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  margin: auto;
  height: auto;
  width: 500px;
  text-align: center;
  color: ivory;
  background-color: rgba(128, 128, 128, 0.7);
  margin-top: 20px;
}
