
body {
  background-image: url("../pattern2.png");
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.background{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(128, 128, 128, 0.7);
}


img{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  margin-top: 1em;
}

.link:hover
{
  color: orange;
}
