
body {
  background-image: url("../pattern2.png");
/*  font-family: "PT Sans", Arial, Helvetica, sans-serif;
*/
  font-family: 'Open Sans', sans-serif;
}

.background{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(128, 128, 128, 0.7);
}


img{
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #545454;
  margin-top: 1em;
}

ul{
   list-style-type:none;
/*   text-align: justify;
   text-align: center;
*/}

.link:hover{
  color: orange;
}

#github{
  margin-left: 1.7em;
}

#phone{
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: #545454;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(128, 128, 128, 0.4);
}


.icon{
  background-color: rgba(128, 128, 128, 0.4);
  margin-right: 1em;
}

.contact_icons{
   margin-top: 1.5em;
}

.icon:hover{
   background-color: orange;
}

